build
setuptools
twine
sphinx<7.0.0
numpy
pandas
cvxpy
scipy
yfinance
matplotlib
numpydoc
myst_parser
coverage
sphinx-rtd-theme
pylint
autopep8
docformatter
isort
diff-cover
pytest
pytest-cov
multiprocess
