# This contains development environment tools
# and stuff to build the sphinx docs; eventually
# it will be merged into pyproject.toml
build
setuptools
twine
sphinx
furo
numpy
pandas
cvxpy
scipy
requests
matplotlib
myst_parser
coverage
sphinx-rtd-theme
pylint
isort
autopep8
diff_cover
multiprocess
docformatter
