build
setuptools
twine
sphinx<7.0.0
numpy
pandas
cvxpy
scipy
yfinance
matplotlib
wheel
numpydoc
myst_parser
coverage
multiprocess
flake8
autopep8
sphinx-rtd-theme
pytest
ruff
isort
docstr-coverage
pylint
docformatter
